/verif/Conv_Module_env/simv.cst
/verif/Conv_Module_env/simv
/verif/Conv_Module_env/dump.vcd
/verif/Conv_Module_env/ucli.key



/verif/Conv_layer1_env/simv.cst
/verif/Conv_layer1_env/simv
/verif/Conv_layer1_env/dump.vcd
/verif/Conv_layer1_env/ucli.key


/verif/Sampling_layer1_env/simv.cst
/verif/Sampling_layer1_env/simv
/verif/Sampling_layer1_env/dump.vcd
/verif/Sampling_layer1_env/ucli.key


/verif/Sampling_Module_env/simv.cst
/verif/Sampling_Module_env/simv
/verif/Sampling_Module_env/dump.vcd
/verif/Sampling_Module_env/ucli.key

